.footer {
  background-color: lighten(black, 20%);
  color: $color-white;
  padding: 10%;
  text-align: left;
  h3 {
    font-family: $font-logo;
    font-weight: 400;
    font-size: 18px;
    margin-bottom: 20px;
  }
  &__item {
    @include flexbox(row, flex-start, center);
    margin-bottom: 5px;
    &:hover {
      text-decoration: underline;
    }
    &__icon {
      font-size: 0.7rem;
      width: 20px;
      margin-right: 5px;
    }
  }
}
