.form {
  width: 100%;
  //   padding-bottom: $grid-gutter;
  &__heading {
    width: 100%;
    color: $color-white;
    @include heading-shadow;
    background: $color-primary;
    line-height: 5rem;
    padding: $grid-gutter;
  }
  &__field {
    & label {
      color: $color-accent;
      display: block;
      font-size: 2rem;
      line-height: 2rem;
      padding-top: $grid-gutter;
    }
    & input {
      width: 100%;
      background: $color-secondary;
      @include border;
      padding: $grid-gutter;
      color: $color-accent;
      font-weight: 900;
      font-style: italic;
      font-size: 2.75rem;
      @include border;
      background-color: $color-secondary;
      color: $color-primary;
    }
    & textarea {
      width: 100%;
      color: $color-primary;
      background: $color-secondary;
      @include border;
      outline: none;
      padding: $grid-gutter;
      margin-bottom: $grid-gutter * 0.5;
    }
  }
}
