.btn {
  @include btn;
  color: $color-white;
  margin-top: 20px;
  @include background-linear;
  box-shadow: $shadow-button;
}

.list {
  margin: 10px 0;
  @include flexbox(column, flex-start, center, 20px);
}
img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}
