body {
  font-family: "Roboto", sans-serif;
  text-align: center;
}
h1 {
  font: $font-h1;
}
h2 {
  font: $font-h2;
  text-align: left;
  margin-left: 5%;
  margin-bottom: 20px;
}
h3 {
  font: $font-h3;
}
p,
span {
  font: $font-p;
  line-height: 1.2rem;
}
button {
  font: $font-p;
}
.icon {
  font-size: 1.2rem;
}
