.a_la_francaise__main {
  background-color: $color-gray;
  @include flexbox(row, center, center, 20px);
}
.intro {
  &__title {
    @include flexbox(row, space-between, center);
    background-color: $color-gray;
    padding: 30px 5% 0 5%;
    border-radius: 15px;
    h2 {
      font-family: $font-logo;
      font-weight: 500;
      margin: 0;
    }
  }
}
.entree {
  &__list {
    h4 {
      font-weight: 400;
      border-bottom: 3px solid $color-accent;
      width: 40px;
      padding-bottom: 5px;
    }
  }
}
