.location {
  background-color: darken($color-gray, 3%);
  color: lighten(black, 20%);
  padding: 15px;
  box-shadow: $shadow-box;
  cursor: pointer;
  &__text {
    margin-left: 15px;
  }
}
.description {
  @include flexbox(column, center, center, 10px);
  padding: 50px 10%;
  h2 {
    text-align: center;
    margin-bottom: 0;
  }
}
.restaurant {
  padding-top: 50px;
  padding-bottom: 50px;
}
